if !user
	p Not logged in!
else if user.isStaff
	.page-header
		h1 Stages
	.row
		each val, index in __("stageList")
			.col-sm-6
				- var panelStyle = "panel-default"
				
				if index === "apply"
					- panelStyle = "panel-primary"
				else if index === "beginClasses"
					- panelStyle = "panel-success"
				else if index === "declined" || index === "canceled"
					- panelStyle = "panel-danger"
				
				div(class="panel " + panelStyle)
					.panel-heading
						h3
							//if student.countryCode
							//	img(src="https://nihongo-center.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/" + student.countryCode + ".png")
							//| 
							span= val
							if stages[index]
								span.badge.stage-student-count= stages[index].length
							else
								span.badge.stage-student-count 0
					.panel-body
						if stages[index]
							each student in stages[index]
								.student
									a.ajax(href='/student/' + student.email)= student.profile.givenName + " " + student.profile.familyName
else
	.page-header
		h1= __("stages")
		
	if user.stage === "declined"
		p= __("stageList.declined")
	else if user.stage === "canceled"
		p= __("stageList.canceled")
	else
		ol.list-group
			- var currentStageReached = false;
			
			mixin stage(title, stageName)
				if user.stage === stageName
					li.list-group-item
						.glyphicon.glyphicon-refresh(style="margin-right: 0.25em")
						span= title
					- currentStageReached = true
				else if currentStageReached
					li.list-group-item.disabled
						.glyphicon.glyphicon-asterisk(style="margin-right: 0.25em")
						span= title
				else
					li.list-group-item.list-group-item-success
						.glyphicon.glyphicon-ok(style="margin-right: 0.25em")
						span= title
			
			each val, index in __("stageList")
				if index !== "declined" && index !== "canceled"
					+stage(val, index)