doctype html
html(lang='en')
	head
		title= app.config.title
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
	
	if user
		body(role='document', style='background: white')
			#container
				#header-container
					#header.navbar
						#title.hide
							h1
								a(href='/')= siteName
						
						nav#navigation.container
							header.hide
								h2 Navigation
							
							//- .navbar-header
							//- 	a.navbar-brand.ajax(href='/')
							//- 		img(alt='Nihongo Center', src='/images/navbar-logo.png', width='210', height='20')
							
							mixin navElement(page)
								li
									a.navigation-link.ajax(href=`/${page.url}`)
										- var menuTitle = __(page.id)
										if page.icon
											.navigation-button
												div(class='glyphicon glyphicon-' + page.icon)
												span(style='margin-left: 0.4em')= menuTitle
										else
											.navigation-button= menuTitle
							
							ul.nav.navbar-nav
								each page in loggedInPages
									+navElement(page)
							
							ul.nav.navbar-nav.navbar-right
								if user
									li
										a.navigation-link(href='/logout')
											.navigation-button
												div(class='glyphicon glyphicon-eject')
												span(style='margin-left: 0.4em')= __('logout')
			
				#content-container.container
					main#content.kaze-fade!= content
				
				#loading-animation.spinner.kaze-fade
					.cube1
					.cube2
				
				script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js')
	else
		body
			main#content.kaze-fade(style='width: 100%; height: 100%; padding: 0; margin: 0;')
				include ../pages/login/login.jade
