doctype html
html(lang="en")
	head
		title= siteName
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
		style!= css
	
	body(role="document")
		#container
			#header-container.container
				#header.navbar.navbar-inverse.navbar-fixed-top
					#title.hide
						h1
							a(href="/")= siteName
					
					nav#navigation.container
						header.hide
							h2 Navigation
						
						//- .navbar-header
						//- 	a.navbar-brand.ajax(href="/")
						//- 		img(alt="Nihongo Center", src="/images/navbar-logo.png", width="210", height="20")
						
						- var loggedInPages = ["dashboard", "profile", "uploads"]
						- var loggedOutPages = ["login"]
						
						ul.nav.navbar-nav
							each nav in pages
								if nav.visible
									if (!user && loggedOutPages.indexOf(nav.id) !== -1) || (user && loggedInPages.indexOf(nav.id) !== -1)
										li
											a.navigation-link.ajax(href="/#{nav.url}")
												if pageToGlyphIcon && nav.id in pageToGlyphIcon
													.navigation-button
														div(class="glyphicon glyphicon-" + pageToGlyphIcon[nav.id])
														span(style="margin-left: 0.4em")= nav.title
												else
													.navigation-button= nav.title
			
			#content-container.container
				section#content!= content
			
			#loading-animation.spinner
			
		script!= js
		script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")