doctype html
html(lang="en")
	head
		title= siteName
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
		style!= css
		
		if user && (user.accessLevel === "admin" || user.accessLevel === "staff")
			script(src="https://www.google.com/jsapi")
			script google.load("visualization", "1", {packages:["corechart"]});
	
	if user
		body(role="document", style="background: white;")
			#container
				#header-container
					#header.navbar.navbar-inverse.navbar-fixed-top
						#title.hide
							h1
								a(href="/")= siteName
						
						nav#navigation.container
							header.hide
								h2 Navigation
							
							//- .navbar-header
							//- 	a.navbar-brand.ajax(href="/")
							//- 		img(alt="Nihongo Center", src="/images/navbar-logo.png", width="210", height="20")
							
							mixin navElement(page)
								li
									a.navigation-link.ajax(href=`/${page.url}`)
										- var menuTitle = __(page.id)
										if page.icon
											.navigation-button
												div(class="glyphicon glyphicon-" + page.icon)
												span(style="margin-left: 0.4em")= menuTitle
										else
											.navigation-button= menuTitle
							
							ul.nav.navbar-nav
								each page in loggedInPages
									+navElement(page)
							
							ul.nav.navbar-nav.navbar-right
								if user
									li
										a.navigation-link(href="/logout")
											.navigation-button
												div(class="glyphicon glyphicon-eject")
												span(style="margin-left: 0.4em")= __("logout")
			
				#content-container.container
					section#content!= content
				
				#loading-animation.spinner
					.cube1
					.cube2
				
				script!= js
				script(src="/bootstrap/js/bootstrap.min.js")
	else
		body
			include ../pages/login/login.jade
