doctype html
html(lang="en")
	head
		title= siteName
		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
		style!= css
	
	if user
		body(role="document", style="background: white;")
			#container
				#header-container
					#header.navbar.navbar-inverse.navbar-fixed-top
						#title.hide
							h1
								a(href="/")= siteName
						
						nav#navigation.container
							header.hide
								h2 Navigation
							
							//- .navbar-header
							//- 	a.navbar-brand.ajax(href="/")
							//- 		img(alt="Nihongo Center", src="/images/navbar-logo.png", width="210", height="20")
							
							if user.accessLevel === "admin" || user.accessLevel === "staff"
								- var loggedInPages = ["dashboard", "students", "profile", "staff", "settings"]
							else
								- var loggedInPages = ["dashboard", "profile", "uploads", "stages", "settings"]
							
							mixin navElement(nav)
								li
									a.navigation-link.ajax(href="/#{nav.url}")
										- var menuTitle = __(nav.title.toLowerCase())
										if pageToGlyphIcon && pageToGlyphIcon[nav.id]
											.navigation-button
												div(class="glyphicon glyphicon-" + pageToGlyphIcon[nav.id])
												span(style="margin-left: 0.4em")= menuTitle
										else
											.navigation-button= menuTitle
							
							ul.nav.navbar-nav
								each page in pages
									if loggedInPages.indexOf(page.id) !== -1
										+navElement(page)
							
							ul.nav.navbar-nav.navbar-right
								if user
									li
										a.navigation-link(href="/logout")
											.navigation-button
												div(class="glyphicon glyphicon-eject")
												span(style="margin-left: 0.4em")= __("logout")
			
				#content-container.container
					section#content!= content
				
				#loading-animation.spinner
				
				script!= js
				script(src="/bootstrap/js/bootstrap.min.js")
	else
		body
			include ../pages/login/login.jade