if !user
	p= __("error.notLoggedIn")
else if typeof students === "undefined"
	p= __("error.notAuthorized")
else if students.length === 0
	p= __("error.noStudents")
else
	table.table.table-condensed
		thead
			tr
				th= __("applied")
				th= __("profile")
				th= __("uploads")
				th= __("course")
				th= __("countryFlag")
				th= __("country")
				th= __("name")
				th= __("mail")
		each student in students
			tr
				td.col-md-1
					if student.applicationDate === null
						span ❌
					else
						span ✓
				td.col-md-1
					.progress
						if student.profileCompleted >= 100
							- var cssClass = "progress-bar progress-bar-success";
						else if student.profileCompleted >= 50
							- var cssClass = "progress-bar progress-bar-warning progress-bar-striped";
						else if student.profileCompleted >= 25
							- var cssClass = "progress-bar progress-bar-info progress-bar-striped";
						else
							- var cssClass = "progress-bar progress-bar-danger progress-bar-striped"
						
						//-meter(min=0, max=100, low=25, value=student.profileCompleted, title=student.profileCompleted + "%")
						div(class=cssClass, role="progressbar", aria-valuenow=student.profileCompleted, aria-valuemin="0" aria-valuemax="100", style="width: " + student.profileCompleted + "%", title=student.profileCompleted + "%")
				td.col-md-1
					span= student.uploads.length
				td.col-md-2
					.form-group
						input.form-control(type="month", value=student.startYear + "-" + student.startMonth, disabled)
				td.col-md-1
					if student.countryCode
						img(src="http://flags.fmcdn.net/data/flags/mini/" + student.countryCode + ".png", width="26")
				td.col-md-2
					span= student.country
				td.col-md-3
					a(href=student.permaLink)= student.givenName + " " + student.familyName
				td.col-md-1
					a(href=`mailto:${student.email}`)
						.glyphicon.glyphicon-envelope