include ../../mixins/forms.jade

if !user
	p= __("error.notLoggedIn")
else if !user.email
	p= __("error.emailNotAvailable")
else
	.page-header
		h1= __("uploadNewFile")
	
	form(id="uploadForm", enctype="multipart/form-data", action="/uploads", method="post")
		.field.form-group
			label(for="file")= __("uploadFileLabel")
			input.form-control(type="file", name="file")
		.form-group
			+select("purpose", undefined, fileTypes)
		button.btn.btn-primary(type="submit")= __("uploadFile")
	
	p &nbsp;
	
	.page-header
		h1= __("yourUploads")
	
	table.uploads.table
		thead
			tr
				th= __("purpose")
				th= __("link")
				th= __("delete")
		each upload, index in user.uploads
			tr.upload
				td.purpose= __(upload.purpose)
				td
					if upload.mimetype.indexOf("image/") !== -1
						.glyphicon.glyphicon-picture(style="margin-right: 0.25em")
					else
						.glyphicon.glyphicon-file(style="margin-right: 0.25em")
					a(href="/" + upload.path)= upload.originalname
				td
					a(href="javascript:window.remove('uploads', 'Upload', " + index + ");", role="button").btn.btn-danger
						.glyphicon.glyphicon-trash