mixin empty()
	.field

mixin text(mLabel, mId, mValue, mPlaceHolder, dataListId, disabled)
	if typeof mValue === "undefined"
		- mValue = user[mId]
	.field
		label(for=mId)= mLabel
		if disabled
			input(type="text", name=mId, id=mId, value=mValue, list=dataListId, placeholder=mPlaceHolder, title=mPlaceHolder, disabled).text-input
		else
			input(type="text", name=mId, id=mId, value=mValue, list=dataListId, placeholder=mPlaceHolder, title=mPlaceHolder).text-input

mixin textInArray(mLabel, mArray, mIndex, mKey, mValue, mPlaceHolder, dataListId)
	- var mId = mArray + "-" + mIndex + "-" + mKey
	if typeof mValue === "undefined"
		- mValue = user[mArray][mIndex][mKey]
	.field
		label(for=mId)= mLabel
		input(type="text", name=mId, id=mId, value=mValue, placeholder=mPlaceHolder, title=mPlaceHolder, list=dataListId, data-array=mArray, data-index=mIndex, data-key=mKey).array-text-input

mixin numberInArray(mLabel, mArray, mIndex, mKey, mValue, mPlaceHolder, dataListId)
	- var mId = mArray + "-" + mIndex + "-" + mKey
	if typeof mValue === "undefined"
		- mValue = user[mArray][mIndex][mKey]
	.field
		label(for=mId)= mLabel
		input(type="number", name=mId, id=mId, value=mValue, placeholder=mPlaceHolder, title=mPlaceHolder, list=dataListId, data-array=mArray, data-index=mIndex, data-key=mKey).array-number-input

mixin number(mLabel, mId, mValue, mPlaceHolder)
	if typeof mValue === "undefined"
		- mValue = user[mId]
	.field
		label(for=mId)= mLabel
		input(type="number", name=mId, id=mId, value=mValue, placeholder=mPlaceHolder, title=mPlaceHolder).number-input

mixin numberInObject(mLabel, mObject, mKey, mPlaceHolder)
	- var mId = mObject + "-" + mKey
	- var mValue = user[mObject][mKey]
	.field
		label(for=mId)= mLabel
		input(type="number", name=mId, id=mId, value=mValue, placeholder=mPlaceHolder, title=mPlaceHolder, data-object=mObject, data-key=mKey).object-number-input

mixin tel(mLabel, mId, mValue, mPlaceHolder)
	.field
		label(for=mId)= mLabel
		input(type="tel", name=mId, id=mId, value=mValue, placeholder=mPlaceHolder, title=mPlaceHolder).tel-input

mixin date(mLabel, mId, mValue)
	if typeof mValue === "undefined"
		- mValue = user[mId]
	.field
		label(for=mId)= mLabel
		input(type="date", name=mId, id=mId, value=mValue).date-input

mixin month(mLabel, mId, mValue)
	.field
		label(for=mId)= mLabel
		input(type="month", name=mId, id=mId, value=mValue).date-input

mixin select(mLabel, mId, mValue, mOptions)
	.field
		label(for=mId)= mLabel
		select(name=mId, id=mId)
			each option in mOptions
				if option.value === mValue || (typeof mValue === "undefined" && option.value === "")
					if option.disabled === true
						option(value=option.value, disabled, selected)= option.name
					else
						option(value=option.value, selected)= option.name
				else
					if option.disabled === true
						option(value=option.value, disabled)= option.name
					else
						option(value=option.value)= option.name

mixin datalist(mId, mOptions)
	datalist(id=mId)
		each val in mOptions
			option(value=val)

if user
	- var 何 = undefined;
	
	h2 Personal
	
	+datalist("cities", cities)
	+datalist("countries", countries)
	+datalist("nationalities", nationalities)
	
	.profile
		+text("Given name:", "givenName")
		+text("Family name:", "familyName")
		
	.profile
		+select("Gender:", "gender", user.gender, genderOptions)
		+select("Marital status:", "maritalStatus", user.maritalStatus, maritalStatusOptions)
		
	.profile
		+date("Birthday:", "birthDay", user.birthDay)
		+text("Age:", "age", age, "", "", true)
		+text("Birthplace:", "birthPlace", user.birthPlace, "", "cities")
		
	.profile
		+text("Country:", "country", user.country, "", "countries")
		+text("Nationality:", "nationality", user.nationality, "", "nationalities")
		
	.profile
		+text("Occupation:", "occupation", user.occupation)
		+select("Occupation type:", "occupationType", user.occupationType, occupationTypeOptions)
		
	.profile
		+text("Home address:", "address", user.address, "🏠")
		+text("Address in Japan:", "addressAbroad", user.addressAbroad, "🏠 Only if you have one.")
		
	.profile
		+tel("Telephone:", "telephone", user.telephone, "☎")
		+tel("Telephone in Japan:", "telephoneAbroad", user.telephoneAbroad, "☎ Only if you have one.")
	
	h2 Course
	
	.profile
		+select("Course:", "course", user.course, courseOptions)
		
	.profile
		+select("Start year:", "startYear", user.startYear, startYearOptions)
		+select("Start month:", "startMonth", user.startMonth, startMonthOptions)
		
	h2 Education
	.profile
		+select("Education:", "education", user.education, educationOptions)
		+text("Name of educational institution:", "educationalInstitutionName", user.educationalInstitutionName, "School or university name")
		
		+month("Graduation date:", "graduationDate", user.graduationDate)
		+number("Total period of education:", "totalPeriodOfEducation", 何, "How many years?")
		
		+select("Plan after graduating from Nihongo Center:", "planAfterGraduation", user.planAfterGraduation, planAfterGraduationOptions)
		
	h2 Passport
	
	.profile
		+text("Passport number:", "passportId", user.passportId, "e.g. TK1234567")
		
	.profile
		+date("Passport date of issue:", "passportDateOfIssue", user.passportDateOfIssue)
		+date("Passport date of expiration:", "passportDateOfExpiration", user.passportDateOfExpiration)
	
	h2 Family
	#family-members.profile
		each member, index in user.familyMembers
			.family-member.profile
				+textInArray("Full name:", "familyMembers", index, "name", member.name)
				+textInArray("Relation:", "familyMembers", index, "relation", member.relation)
				+textInArray("Age:", "familyMembers", index, "age", member.age)
				+textInArray("Occupation:", "familyMembers", index, "occupation", member.occupation)
				+textInArray("Nationality:", "familyMembers", index, "nationality", member.nationality, "", "nationalities")
				+textInArray("Country:", "familyMembers", index, "country", member.country, "", "countries")
				a(href="javascript:remove('FamilyMember', " + index + ");").delete-button Delete
		
		a(href="javascript:add('FamilyMember');") Add family member
	
	h2 Finances
	p
		| Please enter the average amount of support 
		strong per month 
		| in Yen (¥).
	.profile
		+numberInObject("Self:", "financialSupportPerMonth", "self", "Monthly amount in Yen (¥)")
		+numberInObject("Remittance from outside Japan:", "financialSupportPerMonth", "remittanceFromOutside", "Monthly amount in Yen (¥)")
		+numberInObject("Carrying from abroad:", "financialSupportPerMonth", "carryingFromAbroad", "Monthly amount in Yen (¥)")
		+numberInObject("Guarantor in Japan:", "financialSupportPerMonth", "guarantorAbroad", "Monthly amount in Yen (¥)")
		+numberInObject("Scholarship:", "financialSupportPerMonth", "scholarship", "Monthly amount in Yen (¥)")
		+numberInObject("Others:", "financialSupportPerMonth", "others", "Monthly amount in Yen (¥)")
	
	h3 Financial Supporters
	#financial-supporters.profile
		each supporter, index in user.financialSupporters
			.financial-supporter.profile
				+textInArray("Name:", "financialSupporters", index, "name")
				+textInArray("Address:", "financialSupporters", index, "address")
				+textInArray("Telephone:", "financialSupporters", index, "telephone")
				+textInArray("Occupation:", "financialSupporters", index, "occupation")
				+textInArray("Company name:", "financialSupporters", index, "company", 何, "Full company name")
				+textInArray("Company telephone:", "financialSupporters", index, "companyTelephone")
				+numberInArray("Annual income:", "financialSupporters", index, "annualIncome", 何, "In Yen (¥)")
				+textInArray("Relationship with the applicant:", "financialSupporters", index, "relation")
				
				a(href="javascript:remove('FinancialSupporter', " + index + ");").delete-button Delete
	a(href="javascript:add('FinancialSupporter');") Add financial supporter
	
	h2 Japanese
	.profile
		+select("Acquired JLPT level:", "jlptLevel", user.jlptLevel, jlptLevels)
		+number("Number of past entries into Japan:", "numberOfPastEntries", 何, "How often did you go to Japan?")
		+date("Last entry from:", "lastEntryFrom")
		+date("Last entry to:", "lastEntryTo")
		
	h3 Education Background
	#education-backgrounds.profile
		each education, index in user.japaneseEducation
			.education-background.profile
				+textInArray("Institution:", "japaneseEducation", index, "institution")
				+numberInArray("Total hours:", "japaneseEducation", index, "totalHours")
				+textInArray("Text book:", "japaneseEducation", index, "textBook")
				a(href="javascript:remove('EducationBackground', " + index + ");").delete-button Delete
	a(href="javascript:add('EducationBackground');") Add education background
	
	h2 Visa
	.profile
		+select("Port of entry:", "portOfEntry", user.portOfEntry, portsOfEntry)
		+text("Place to apply for a visa in your country:", "visaApplicationPlace", 何, "🏢 Location of closest Japanese Embassy or Consulate")
	
	script
		include save.js
else
	p Not logged in!