include ../../mixins/forms.jade

if !user
	p= __("error.notLoggedIn")
else
	- var 何 = undefined;
	
	+datalist("cities", cities)
	+datalist("countries", countries)
	+datalist("nationalities", nationalities)
	
	.page-header
		h2= __("personal")
	
	.profile
		+text("givenName")
		+text("familyName")
		
	if user.accessLevel === "student"
		.profile
			+select("gender", user.gender, genderOptions)
			+select("maritalStatus", user.maritalStatus, maritalStatusOptions)
			
		.profile
			+date("birthDay", user.birthDay)
			+text("birthPlace", user.birthPlace, "", "cities")
			+text("age", age, "", "", true)
		
		.page-header
			h2
				span= __("country")
				if country
					img(src="http://flags.fmcdn.net/data/flags/small/" + country.alpha2.toLowerCase() + ".png", style="float: right", height=48, alt=country.name, title=country.name)
		
		.profile
			+text("country", user.country, "", "countries")
			+text("nationality", user.nationality, "", "nationalities")
			
		if user.country && !country
			.alert.alert-danger= __("error.identifyCountry", user.country)
		
		.page-header
			h2= __("work")
		
		.profile
			+text("occupation", user.occupation)
			+select("occupationType", user.occupationType, occupationTypeOptions)
			
		.page-header
			h2= __("contact")
		
		.profile
			+text("address", user.address, "🏠")
			+text("addressAbroad", user.addressAbroad, "🏠 " + __("onlyIfAvailable"))
			
		.profile
			+tel("telephone", user.telephone, "☎")
			+tel("telephoneAbroad", user.telephoneAbroad, "☎ " + __("onlyIfAvailable"))
		
		.page-header
			h2= __("course")
		
		.profile
			+select("course", user.course, courseOptions)
			
		.profile
			+select("startYear", user.startYear, startYearOptions)
			+select("startMonth", user.startMonth, startMonthOptions)
		
		if user.course && (user.startMonth === "01" || user.startMonth === "06") && ["6 months", "1 year", "1.5 years", "2 years"].indexOf(user.course) !== -1
			.alert.alert-danger= __("error.weCantProvideVisa")
		
		.page-header
			h2= __("education")
		
		.profile
			+select("education", user.education, educationOptions)
			+text("educationalInstitutionName", user.educationalInstitutionName, __("tooltip.educationalInstitutionName"))
			
			+month("graduationDate", user.graduationDate)
			+number("totalPeriodOfEducation", 何, __("tooltip.totalPeriodOfEducation"))
			
			+select("planAfterGraduation", user.planAfterGraduation, planAfterGraduationOptions)
			
		.page-header
			h2= __("passport")
		
		.profile
			+text("passportId", user.passportId, __("tooltip.passportId"))
			+date("passportDateOfExpiration", user.passportDateOfExpiration)
			
		.profile
			+number("numberOfPastEntries", 何, __("tooltip.numberOfPastEntries"))
			
		.profile
			+date("lastEntryFrom")
			+date("lastEntryTo")
		
		.page-header
			h2= __("family")
		
		#family-members.profile
			each member, index in user.familyMembers
				.profile.array-element.family-member
					+textInArray("familyMembers", index, "name", member.name)
					+textInArray("familyMembers", index, "relation", member.relation)
					+textInArray("familyMembers", index, "age", member.age)
					+textInArray("familyMembers", index, "occupation", member.occupation)
					+textInArray("familyMembers", index, "nationality", member.nationality, "", "nationalities")
					+textInArray("familyMembers", index, "country", member.country, "", "countries")
					
					a(href="javascript:remove('profile', 'FamilyMember', " + index + ");").btn.btn-danger.delete-button
						.glyphicon.glyphicon-remove
		
		button(onclick="add('profile', 'FamilyMember');").btn.btn-success
			.glyphicon.glyphicon-plus
			span(style="margin-left: 0.5em")= __("add.familyMember")
		
		.page-header
			h2= __("finances")
		
		p= __("enterAverageAmountOfSupportPerMonthInYen")
		
		.profile
			+numberInObject("financialSupportPerMonth", "self", __("monthlyAmountInYen"))
			+numberInObject("financialSupportPerMonth", "remittanceFromOutside", __("monthlyAmountInYen"))
			+numberInObject("financialSupportPerMonth", "carryingFromAbroad", __("monthlyAmountInYen"))
			+numberInObject("financialSupportPerMonth", "guarantorAbroad", __("monthlyAmountInYen"))
			+numberInObject("financialSupportPerMonth", "scholarship", __("monthlyAmountInYen"))
			+numberInObject("financialSupportPerMonth", "others", __("monthlyAmountInYen"))
			
			if user.financialSupportPerMonth.total < 50000
				- var alertClass = "alert-danger";
			else if user.financialSupportPerMonth.total < 80000
				- var alertClass = "alert-warning";
			else
				- var alertClass = "alert-info";
			
			div(class=`alert ${alertClass} totalAmount`)
				p!= __("financialSupportTotalAmount", `<strong>${user.financialSupportPerMonth.total}</strong>`)
				
				if user.financialSupportPerMonth.total < 80000
					p!= __("pleaseBringAtLeast", "<strong>80000</strong>")
		
		.page-header
			h2= __("applicationFees")
		
		.profile
			+select("paymentMethod", user.paymentMethod, paymentMethods)
		
		.page-header
			h2= __("financialSupporters.title")
		
		#financial-supporters.profile
			each supporter, index in user.financialSupporters
				.profile.array-element.financial-supporter
					+textInArray("financialSupporters", index, "name")
					+textInArray("financialSupporters", index, "address")
					+textInArray("financialSupporters", index, "telephone")
					+textInArray("financialSupporters", index, "occupation")
					+textInArray("financialSupporters", index, "company", 何, __("tooltip.company"))
					+textInArray("financialSupporters", index, "companyTelephone")
					+numberInArray("financialSupporters", index, "annualIncome", 何, __("inYen"))
					+textInArray("financialSupporters", index, "relation")
					
					a(href="javascript:remove('profile', 'FinancialSupporter', " + index + ");").btn.btn-danger.delete-button
						.glyphicon.glyphicon-remove
		
		button(onclick="add('profile', 'FinancialSupporter');").btn.btn-success
			.glyphicon.glyphicon-plus
			span(style="margin-left: 0.5em")= __("add.financialSupporter")
		
		.page-header
			h2= __("japanese")
		
		.profile
			+select("jlptLevel", user.jlptLevel, jlptLevels)
			
		.profile
			+textArea("reasonForStudying", user.reasonForStudying, __("tooltip.reasonForStudying"), 12, 80)
		
		.page-header
			h2= __("japaneseStudyExperience")
		
		#education-backgrounds.profile
			each education, index in user.japaneseEducation
				.profile.array-element.education-background
					+textInArray("japaneseEducation", index, "institution")
					+numberInArray("japaneseEducation", index, "totalHours")
					+textInArray("japaneseEducation", index, "textBook")
					
					a(href="javascript:remove('profile', 'EducationBackground', " + index + ");").btn.btn-danger.delete-button
						.glyphicon.glyphicon-remove
		
		if user.japaneseEducation.length === 0
			.alert.alert-danger= __("error.noStudyExperience")
		
		button(onclick="add('profile', 'EducationBackground');").btn.btn-success
			.glyphicon.glyphicon-plus
			span(style="margin-left: 0.5em")= __("add.educationBackground")
		
		.page-header
			h2= __("visa")
		
		.profile
			+select("portOfEntry", user.portOfEntry, portsOfEntry)
			+text("visaApplicationPlace", 何, "🏢 " + __("tooltip.visaApplicationPlace"))
	
	script
		include ../../scripts/arrays.js
		include save.js