mixin empty()
	.field

mixin input(mLabel, mId, mValue, mPlaceHolder, disabled)
	.field
		label(for=mId)= mLabel
		if disabled
			input(type="text", name=mId, id=mId, value=mValue, placeholder=mPlaceHolder, disabled).text-input
		else
			input(type="text", name=mId, id=mId, value=mValue, placeholder=mPlaceHolder).text-input

mixin tel(mLabel, mId, mValue, mPlaceHolder)
	.field
		label(for=mId)= mLabel
		input(type="tel", name=mId, id=mId, value=mValue, placeholder=mPlaceHolder).tel-input

mixin date(mLabel, mId, mValue)
	.field
		label(for=mId)= mLabel
		input(type="date", name=mId, id=mId, value=mValue).date-input

mixin month(mLabel, mId, mValue)
	.field
		label(for=mId)= mLabel
		input(type="month", name=mId, id=mId, value=mValue).date-input

mixin select(mLabel, mId, mValue, mOptions)
	.field
		label(for=mId)= mLabel
		select(name=mId, id=mId)
			each option in mOptions
				if option.value === mValue || (typeof mValue === "undefined" && option.value === "")
					if option.disabled === true
						option(value=option.value, disabled, selected)= option.name
					else
						option(value=option.value, selected)= option.name
				else
					if option.disabled === true
						option(value=option.value, disabled)= option.name
					else
						option(value=option.value)= option.name

mixin inputAutoComplete(mLabel, mId, mValue, mOptions)
	.field
		label(for=mId)= mLabel
		input(type="text", name=mId, id=mId, list=mId + "-datalist", value=mValue).text-input
		datalist(id=mId + "-datalist")
			each val in mOptions
				option(value=val)

if user
	h2= displayName
	
	.profile
		+input("Given name:", "givenName", user.givenName)
		+input("Family name:", "familyName", user.familyName)
		
		+select("Gender:", "gender", user.gender, genderOptions)
		+select("Marital status:", "maritalStatus", user.maritalStatus, maritalStatusOptions)
		
		+date("Birthday:", "birthDay", user.birthDay)
		+input("Age:", "age", age, "", true)
		
		+inputAutoComplete("Birthplace:", "birthPlace", user.birthPlace, cities)
		+inputAutoComplete("Nationality:", "nationality", user.nationality, nationalities)
		
		+input("Occupation:", "occupation", user.occupation)
		+select("Occupation type:", "occupationType", user.occupationType, occupationTypeOptions)
		
		+input("Home address:", "address", user.address, "🏠")
		+input("Address in Japan:", "addressAbroad", user.addressAbroad, "🏠 Only if you have one.")
		
		+tel("Telephone:", "telephone", user.telephone, "☎")
		+tel("Telephone in Japan:", "telephoneAbroad", user.telephoneAbroad, "☎ Only if you have one.")
	
	h2 Course
	.profile
		+select("Course:", "course", user.course, courseOptions)
		+empty()
		
		+select("Start year:", "startYear", user.startYear, startYearOptions)
		+select("Start month:", "startMonth", user.startMonth, startMonthOptions)
		
	h2 Education
	.profile
		+select("Education:", "education", user.education, educationOptions)
		+input("Name of educational institution:", "educationalInstitutionName", user.educationalInstitutionName, "School or university name")
		
		+month("Graduation date:", "graduationDate", user.graduationDate)
		+select("Plan after graduating from Nihongo Center:", "planAfterGraduation", user.planAfterGraduation, planAfterGraduationOptions)
		
	h2 Passport
	.profile
		+input("Passport number:", "passportId", user.passportId, "e.g. TK1234567")
		+empty()
		
		+date("Passport date of issue:", "passportDateOfIssue", user.passportDateOfIssue)
		+date("Passport date of expiration:", "passportDateOfExpiration", user.passportDateOfExpiration)
	
	h2 Family
	.profile
		#family-members
			each member in user.familyMembers
				#family-member Test
			
		a(href="javascript:addFamilyMember();") New family member
	
	script
		include save.js
else
	p Not logged in!