mixin input(mLabel, mId, mValue, disabled)
	label(for=mId)= mLabel
	if disabled
		input(type="text", name=mId, id=mId, value=mValue, disabled).text-input
	else
		input(type="text", name=mId, id=mId, value=mValue).text-input

mixin date(mLabel, mId, mValue)
	label(for=mId)= mLabel
	input(type="date", name=mId, id=mId, value=mValue).date-input

mixin select(mLabel, mId, mValue, mOptions)
	label(for=mId)= mLabel
	select(name=mId, id=mId)
		each option in mOptions
			if option.value === mValue
				option(value=option.value, selected)= option.name
			else
				option(value=option.value)= option.name

mixin inputAutoComplete(mLabel, mId, mValue, mOptions)
	label(for=mId)= mLabel
	input(type="text", name=mId, id=mId, list=mId + "-datalist", value=mValue).text-input
	datalist(id=mId + "-datalist")
		each val in mOptions
			option(value=val)

if user
	h2= displayName
	
	+input("Given name:", "givenName", user.givenName)
	+input("Family name:", "familyName", user.familyName)
	+select("Gender:", "gender", user.gender, [{name: "♂ Male", value: "male"}, {name: "♀ Female", value: "female"}])
	+date("Birthday:", "birthday", user.birthday)
	+input("Age:", "age", age, true)
	+input("Occupation:", "occupation", user.occupation)
	
	script
		include profile-save.js
else
	p Not logged in!