if !user
	p= __("error.notLoggedIn")
else
	.page-header
		h1= __("courses")
		
	each monthList, year in courses
		h2= year
		
		each studentList, month in monthList
			h3= __("monthNames." + month)
			
			each student in studentList
				p
					a(href=`/students/${student.email}`)= student.givenName + " " + student.familyName