
if !user
	p= __("error.notLoggedIn")
else if Object.keys(courses).length === 0
	p= __("error.noStudents")
else
	.page-header
		h1= __("courses")
	
	each monthList, year in courses
		.page-header
			h2= year
		
		.row
			each studentList, month in monthList
				.col-sm-6
					h3= __("monthNames." + month)
					
					each student in studentList
						p
							a(href=`/students/${student.email}`)= student.givenName + " " + student.familyName