if !user
	p= __("error.notLoggedIn")
else if Object.keys(courses).length === 0
	p= __("error.noStudents")
else
	.page-header
		h1= __("courses")
	
	each monthList, year in courses
		.page-header
			h2= year
		
		.row
			each studentList, month in monthList
				.col-sm-6
					.panel.panel-default
						.panel-heading
							h3
								span.glyphicon.glyphicon-calendar
								a(href="/course/" + year + "/" + month)= __("monthNames." + month)
								span.badge.course-student-count= studentList.length
						
						.panel-body
							.student-list
								each student in studentList
									p.student
										if student.countryCode
											img.flag(src='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.4.0/flags/4x3/' + student.countryCode + '.svg')
										
										a.ajax(href=`/student/${student.id}`)
											- var studentName = student.profile.givenName + " " + student.profile.familyName
											if student.stage === "declined" || student.stage === "canceled"
												strike= studentName
											else
												span= studentName