if !user
	p= __("error.notLoggedIn")
else if Object.keys(courses).length === 0
	p= __("error.noStudents")
else
	.page-header
		h1= __("courses")
	
	each monthList, year in courses
		.page-header
			h2= year
		
		.row
			each studentList, month in monthList
				.col-sm-6
					.panel.panel-default
						.panel-heading
							h3
								a(href="/courses/" + year + "/" + month)= __("monthNames." + month)
						
						.panel-body
							each student in studentList
								p
									if student.countryCode
										img(src="https://nihongo-center.com/wp-content/plugins/sitepress-multilingual-cms/res/flags/" + student.countryCode + ".png", title=student.country)
									
									a(href=`/students/${student.email}`)= student.givenName + " " + student.familyName