if user
	.jumbotron
		h1 Welcome, 
			span= displayName + "!"
		
		p Here you can apply for a course at Nihongo Center.
	
	.row
		.col-sm-4
			.panel.panel-default
				.panel-heading: h1
					.glyphicon.glyphicon-user
					|  Profile
				.panel-body
					.progress
						.progress-bar.progress-bar-striped(role="progressbar", aria-valuenow=profileCompleted, aria-valuemin="0" aria-valuemax="100", style="width: " + profileCompleted + "%")
					p= profileCompleted + "% completed."
		
		.col-sm-4
			.panel.panel-default
				.panel-heading: h1
					.glyphicon.glyphicon-upload
					|  Uploads
				.panel-body
					.list-group
						li.list-group-item
							.glyphicon.glyphicon-minus
							|  Passport photo
						li.list-group-item.list-group-item-success
							.glyphicon.glyphicon-ok
							|  Passport
						li.list-group-item
							.glyphicon.glyphicon-minus
							|  Pledge
						li.list-group-item
							.glyphicon.glyphicon-minus
							|  Curriculum Vitae
							
		.col-sm-4
			.panel.panel-default
				.panel-heading: h1
					.glyphicon.glyphicon-education
					|  Course
				.panel-body
					if !user.course
						p You haven't selected a course yet!
					else if !user.startYear || !user.startMonth
						p You haven't selected a start date yet!
					else
						p Your course 
							span.course-name= courseToTitle[user.course]
							|  will begin on:
							.form-group
								input.form-control(type="month", value=user.startYear + "-" + user.startMonth, disabled)
else
	p Not logged in!