if user
	.jumbotron
		h1 Welcome, 
			span= displayName + "!"
		
		p Here you can apply for a course at Nihongo Center.
	
	.row
		.col-sm-4
			.panel.panel-default
				.panel-heading: h1
					.glyphicon.glyphicon-user
					|  Profile
				.panel-body.text-center
					.progress
						if profileCompleted >= 100
							- var cssClass = "progress-bar progress-bar-success";
						else if profileCompleted >= 50
							- var cssClass = "progress-bar progress-bar-warning progress-bar-striped";
						else if profileCompleted >= 25
							- var cssClass = "progress-bar progress-bar-info progress-bar-striped";
						else
							- var cssClass = "progress-bar progress-bar-danger progress-bar-striped"
						
						div(class=cssClass, role="progressbar", aria-valuenow=profileCompleted, aria-valuemin="0" aria-valuemax="100", style="width: " + profileCompleted + "%")
					h2= profileCompleted + "%"
					p completed.
		
		.col-sm-4
			.panel.panel-default
				.panel-heading: h1
					.glyphicon.glyphicon-upload
					|  Uploads
				.panel-body
					.list-group
						li.list-group-item
							.glyphicon.glyphicon-minus
							|  Passport photo
						li.list-group-item.list-group-item-success
							.glyphicon.glyphicon-ok
							|  Passport
						li.list-group-item
							.glyphicon.glyphicon-minus
							|  Pledge
						li.list-group-item
							.glyphicon.glyphicon-minus
							|  Curriculum Vitae
							
		.col-sm-4
			.panel.panel-default
				.panel-heading: h1
					.glyphicon.glyphicon-education
					|  Course
				.panel-body
					if !user.course
						p You haven't selected a course yet!
					else if !user.startYear || !user.startMonth
						p You haven't selected a start date yet!
					else
						p Your course 
							span.course-name= courseToTitle[user.course]
							|  will begin on:
							.form-group
								input.form-control(type="month", value=user.startYear + "-" + user.startMonth, disabled)
else
	p Not logged in!