if !user
	p Not logged in!
else if user.accessLevel === "admin" || user.accessLevel === "staff"
	.jumbotron.dashboard-header
		h1 Welcome back, 
			span= displayName + "!"
		
		p Here you can administer the students registering at Nihongo Center!
	
	if !statistics
		.alert.alert-danger There was an error retrieving statistics.
	else
		.row
			.col-sm-4
				.panel.panel-default
					.panel-heading: h1
						.glyphicon.glyphicon-tasks
						|  Statistics
					.panel-body
						p!= `<b>${statistics.totalApplicants}</b> students are currently waiting for their application to be accepted.`
						p!= `<b>${statistics.totalStudents}</b> students are registered on My Nihongo Center.`
			
			if statistics.countries
				.col-sm-4
					.panel.panel-default
						.panel-heading: h1
							.glyphicon.glyphicon-globe
							|  Countries
						.panel-body
							each count, country in statistics.countries
								p!= `<b>${country}</b> (${count})`
			
			if statistics.gender
				.col-sm-4
					.panel.panel-default
						.panel-heading: h1
							.glyphicon.glyphicon-eye-open
							|  Gender
						.panel-body
							p!= `<b>Male</b> (${statistics.gender.male})`
							p!= `<b>Female</b> (${statistics.gender.female})`
else
	mixin upload(name, purpose)
		- var cssClass = "";
		- var glyph = "minus";
		
		if uploads[purpose]
			- cssClass = " list-group-item-success";
			- glyph = "ok";
		
		li(class="list-group-item" + cssClass)
			div(class="glyphicon glyphicon-" + glyph)
			span= " " + name
	
	//- Header
	.jumbotron.dashboard-header
		h1 Welcome, 
			span= displayName + "!"
		
		p Here you can apply for a course at Nihongo Center.
	
	//- Panels
	.row
		.col-sm-4
			.panel.panel-default
				.panel-heading: h1
					.glyphicon.glyphicon-user
					|  Profile
				.panel-body.text-center
					.progress
						if profileCompleted >= 100
							- var cssClass = "progress-bar progress-bar-success";
						else if profileCompleted >= 50
							- var cssClass = "progress-bar progress-bar-warning progress-bar-striped";
						else if profileCompleted >= 25
							- var cssClass = "progress-bar progress-bar-info progress-bar-striped";
						else
							- var cssClass = "progress-bar progress-bar-danger progress-bar-striped"
						
						div(class=cssClass, role="progressbar", aria-valuenow=profileCompleted, aria-valuemin="0" aria-valuemax="100", style="width: " + profileCompleted + "%")
					h2= profileCompleted + "%"
					p completed.
					
					if missingFields.length === 1
						p You're missing the 
							strong= missingFields[0]
							|  field.
		
		.col-sm-4
			.panel.panel-default
				.panel-heading: h1
					.glyphicon.glyphicon-upload
					|  Uploads
				.panel-body
					.list-group
						+upload("Passport photo", "passportPhoto")
						+upload("Passport", "passport")
						+upload("Curriculum Vitae", "curriculumVitae")
						+upload("Letter of Guarantee", "letterOfGuarantee")
						if studentVisaRequired
							+upload("Diploma", "diploma")
						+upload("Pledge", "pledge")
		
		.col-sm-4
			.panel.panel-default
				.panel-heading: h1
					.glyphicon.glyphicon-education
					|  Course
				.panel-body
					if !user.course
						p You haven't selected a course yet!
					else if !user.startYear || !user.startMonth
						p You haven't selected a start date yet!
					else
						p Your course 
							span.course-name= courseToTitle[user.course]
							|  will begin on:
							.form-group
								input.form-control(type="month", value=user.startYear + "-" + user.startMonth, disabled)
		.col-sm-4
			- var cssClass = "";
			if readyToApply
				- cssClass = "panel panel-primary"
			else
				- cssClass = "panel panel-default"
			
			div(class=cssClass)
				.panel-heading: h1
					.glyphicon.glyphicon-envelope
					|  Apply
				.panel-body
					if user.applicationDate !== null
						.text-center
							h4 Thank you for applying!
							p We'll get back to you soon.
					else if readyToApply
						.text-center
							button.btn.btn-primary(onclick="sendApplication('" + user.email + "', '" + user.givenName + " " + user.familyName + "');")
								.glyphicon.glyphicon-thumbs-up
								span  Send my application
							p
							p
								| Thank you for preparing all the documents we need for
								| the course registration. Please click on the button to send your application.
								
							script
								include send-application.js
					else
						.text-center
							button.btn.btn-disabled
								.glyphicon.glyphicon-thumbs-up
								span  Send my application
						p
						p You'll be able to send an application once you completed your profile and uploaded the necessary documents.