if !user
	p= __("error.notLoggedIn")
else if user.accessLevel === "admin" || user.accessLevel === "staff"
	script!= statistics.script
	script
		include google-charts.js
	
	.jumbotron.dashboard-header
		h1= __("staffView.greeting.title", displayName)
		p= __("staffView.greeting.tagline")
	
	if !statistics
		.alert.alert-danger= __("error.retrieveStatistics")
	else
		.row
			.col-sm-4
				.panel.panel-default
					.panel-heading: h1
						.glyphicon.glyphicon-tasks
						span= __("statistics")
					.panel-body
						p!= __("staffView.statistics.applicantsAccepted", `<b>${statistics.applicantsAccepted}</b>`)
						p!= __("staffView.statistics.applicantsRejected", `<b>${statistics.applicantsRejected}</b>`)
						p!= __("staffView.statistics.totalApplicants", `<b>${statistics.totalApplicants}</b>`)
						p!= __("staffView.statistics.totalStudents", `<b>${statistics.totalStudents}</b>`)
						
				if statistics.gender
					.panel.panel-default
						.panel-heading: h1
							.glyphicon.glyphicon-eye-open
							span= __("gender")
						.panel-body
							#genderChart
			
			if statistics.countries
				.col-sm-8
					.panel.panel-default
						.panel-heading: h1
							.glyphicon.glyphicon-globe
							span= __("countries")
						.panel-body
							#countryChart
			
else
	mixin upload(purpose)
		- var cssClass = "";
		- var glyph = "minus";
		
		if uploads[purpose]
			- cssClass = " list-group-item-success";
			- glyph = "ok";
		
		li(class="list-group-item" + cssClass)
			div(class="glyphicon glyphicon-" + glyph)
			span(style="margin-left: 0.4em")= __(purpose)
	
	//- Header
	.jumbotron.dashboard-header
		h1= __("greeting.title", displayName)
		p= __("greeting.tagline")
	
	//- Panels
	.row
		.col-sm-4
			.panel.panel-default
				.panel-heading: h1
					.glyphicon.glyphicon-user
					span= __("profile")
				.panel-body.text-center
					include ../../mixins/progress.jade
					+progress(profileCompleted)
					
					h2= profileCompleted + "%"
					p= __("percentCompleted")
					
					if missingFields.length === 1
						p!= __("missingField", missingFields[0])
		
		.col-sm-4
			.panel.panel-default
				.panel-heading: h1
					.glyphicon.glyphicon-upload
					span= __("uploads")
				.panel-body
					.list-group
						each purpose in requiredUploads
							+upload(purpose)
		
		.col-sm-4
			.panel.panel-default
				.panel-heading: h1
					.glyphicon.glyphicon-education
					span= __("course")
				.panel-body
					if !user.profile.course
						p= __("error.noCourseSelected")
					else if !user.profile.startYear || !user.profile.startMonth
						p= __("error.noStartDateSelected")
					else
						p!= __("courseStart", "<span class='course-name'>" + __("options.course." + user.profile.course.replace(".", ",")) + "</span>") 
							.form-group
								input.form-control(type="month", value=user.profile.startYear + "-" + user.profile.startMonth, disabled)
		.col-sm-4
			- var cssClass = "";
			if readyToApply
				- cssClass = "panel panel-primary"
			else
				- cssClass = "panel panel-default"
			
	.row
		.col-sm-3
		.col-sm-6
			div(class=cssClass)
				.panel-heading: h1
					.glyphicon.glyphicon-envelope
					span= __("apply")
				.panel-body
					if user.application
						.text-center
							h4= __("thankYouForApplying")
							p= __("contactSoon")
					else if readyToApply
						.text-center
							button.btn.btn-primary(onclick="window.sendApplication('" + user.id + "', '" + user.profile.givenName + " " + user.profile.familyName + "');")
								.glyphicon.glyphicon-thumbs-up
								span(style="margin-left: 0.4em")= __("sendApplication")
							p
							p= __("thankYouForPreparing")
					else
						.text-center
							button.btn.btn-disabled(onclick=`alert("${__("sendApplicationRequirements")}");`)
								.glyphicon.glyphicon-thumbs-up
								span(style="margin-left: 0.4em")= __("sendApplication")
						p
						p= __("sendApplicationRequirements")
		.col-sm-3
