mixin display(key, cssClass)
	tr(class=cssClass)
		td= humanized[key]
		if typeof renderKey[key] !== "undefined"
			td!= renderKey[key]
		else
			td= student[key]

if !user
	p Not logged in!
else if user.accessLevel !== "admin" && user.accessLevel !== "staff"
	p You are not authorized to view this page!
	p Please contact your system administrator.
else if !student
	p That student doesn't exist in the database.
else
	.page-header
		h1
			span.glyphicon.glyphicon-user(style="margin-right: 0.25em")
			span= student.displayName
	
	.row
		.col-sm-6
			//- Summary
			.panel.panel-default
				.panel-heading: h1
					span.glyphicon.glyphicon-info-sign(style="margin-right: 0.25em")
					span Summary
				.panel-body
					p!= description
			
			//- Uploads
			.panel.panel-default
				.panel-heading: h1
					span.glyphicon.glyphicon-upload(style="margin-right: 0.25em")
					span Uploads
				.panel-body!= renderKey["uploads"]
				
			//- Financial supporters
			.panel.panel-default
				.panel-heading: h1
					span.glyphicon.glyphicon-credit-card(style="margin-right: 0.25em")
					span Financial supporters
				.panel-body
					if student.financialSupporters.length === 0
						div.alert.alert-danger The student did not add any financial supporters yet!
					else
						ul.list-group
							each member in student.financialSupporters
								li.list-group-item= member.name
		
		//- Country
		.col-sm-6
			if country
				.panel.panel-default
					.panel-heading: h1
						span.glyphicon.glyphicon-globe(style="margin-right: 0.25em")
						span= country.name
					.panel-body
						.text-center
							img(src="http://flags.fmcdn.net/data/flags/small/" + country.alpha2.toLowerCase() + ".png")
						
						h4 Visa
						if country.visaEasy
							.alert.alert-info This is a low risk country!
						else
							.alert.alert-danger This is a high risk country!
						
						h4 Currencies
						ul.list-group
							each currency in country.currencies
								li.list-group-item= currency
						
						h4 Languages
						ul.list-group
							each language in country.languages
								li.list-group-item= language
			//- Family		
			.panel.panel-default
				.panel-heading: h1
					span.glyphicon.glyphicon-home(style="margin-right: 0.25em")
					span Family
				.panel-body
					if student.familyMembers.length === 0
						div.alert.alert-danger The student did not add any family members yet!
					else
						ul.list-group
							each member in student.familyMembers
								li.list-group-item
									span= member.name
									span.label.label-info(style="margin-left: 0.65em")= member.relation
							
			//- Japanese education
			.panel.panel-default
				.panel-heading: h1
					span.glyphicon.glyphicon-blackboard(style="margin-right: 0.25em")
					span Japanese education
				.panel-body
					ul.list-group
						h4= "JLPT level: " + student.jlptLevel 
						each education in student.japaneseEducation
							li.list-group-item= education.institution + " (" + education.totalHours + ")"
							
							
			.panel.panel-default
				.panel-heading: h1
					span.glyphicon.glyphicon-pencil(style="margin-right: 0.25em")
					span Motivation
				.panel-body
					if !student.reasonForStudying
						div.alert.alert-danger The student did not write down the reason for studying yet!
					else
						p= '"' + student.reasonForStudying + '"'
	
	.page-header
		h1 Details
		
	button.btn(onclick="$('#details').toggle();") Toggle
	p &nbsp;
		
	table.table.table-hover.table-condensed(style="display: none;")#details
		thead
			tr
				th Field
				th Value
		
		- var keys = Object.keys(student)
		each key in keys
			+display(key)