mixin display(key, cssClass)
	tr(class=cssClass)
		td(style="width: 30%")= humanized[key]
		if student[key] && typeof translateOptions[key] !== "undefined"
			td!= __(`options.${key}.${student[key]}`)
		else
			td= student[key]

if !user
	p= __("error.notLoggedIn")
else if user.accessLevel !== "admin" && user.accessLevel !== "staff"
	p= __("error.notAuthorized")
else if !student
	p= __("error.studentDoesntExist")
else
	.page-header
		h1
			span.glyphicon.glyphicon-user(style="margin-right: 0.25em")
			span= student.displayName
			if country
				a(href="#country")
					img(src="http://flags.fmcdn.net/data/flags/small/" + country.alpha2.toLowerCase() + ".png", style="float: right", height=48, alt=country.name, title=country.name)
	
	script
		include save.js
	
	.row
		.col-sm-8
			//- Summary
			.panel.panel-default
				.panel-heading: h2
					span.glyphicon.glyphicon-info-sign(style="margin-right: 0.25em")
					span= __("summary")
				.panel-body
					p!= description
			
			//- Course
			if student.course && student.startYear && student.startMonth
				.panel.panel-default
					.panel-heading: h2
						span.glyphicon.glyphicon-calendar(style="margin-right: 0.25em")
						span= __("course")
					.panel-body
						a.btn.btn-default(href="javascript:alert('Work in progress.')")= __("options.course." + student.course)
						| 
						a.btn.btn-default(href="javascript:alert('Work in progress.')")= __("monthNames." + parseInt(student.startMonth))
						| 
						a.btn.btn-default(href="javascript:alert('Work in progress.')")= student.startYear
						a.btn.btn-default.ajax(style="float: right", href="/course/" + student.startYear + "/" + student.startMonth)= "View course"
			
			//- Uploads
			.panel.panel-default
				.panel-heading: h2
					span.glyphicon.glyphicon-upload(style="margin-right: 0.25em")
					span= __("uploads")
				.panel-body
					if student.uploads.length === 0
						.alert.alert-danger The student did not upload any files yet!
					else
						ul.list-group
							each upload in student.uploads
								li.upload-item.list-group-item
									a(href="/" + upload.path)= upload.purposeHumanized
									span.upload-original-name= ` (${upload.originalname})`
									
									if upload.extension
										span.label.label-default(style="float: right")= upload.extension.toLowerCase()
									else if upload.mimetype && upload.mimetype.indexOf('/') !== -1
										span.label.label-default(style="float: right")= mimeTypes.extension(upload.mimetype)
			
			//- Motivation
			.panel.panel-default
				.panel-heading: h2
					span.glyphicon.glyphicon-pencil(style="margin-right: 0.25em")
					span= __("motivation")
				.panel-body
					if !student.reasonForStudying
						div.alert.alert-danger= __("error.noReasonForStudying")
					else
						p= '"' + student.reasonForStudying + '"'
			
			//- Details
			.panel.panel-default
				.panel-heading: h2
					span.glyphicon.glyphicon-blackboard(style="margin-right: 0.25em")
					span= __("details:Details")
				.panel-body
					table.table.table-hover.table-condensed#details
						thead
							tr
								th Field
								th Value
						
						- var keys = Object.keys(student)
						each key in keys
							if(!keysNotRendered[key])
								+display(key)
			
		.col-sm-4
			- var currentStageReached = false;
			
			mixin stage(title, stageName)
				- var saveStage = `javascript:saveStage('${student.email}', '${stageName}');`;
				if student.stage === stageName
					a.list-group-item.list-group-item-danger
						.glyphicon.glyphicon-refresh(style="margin-right: 0.35em")
						span(title="Current stage")= title
					- currentStageReached = true
				else if currentStageReached || student.stage === "declined" || student.stage === "canceled"
					a.list-group-item.stage-link(href=saveStage)
						.glyphicon.glyphicon-menu-right(style="margin-right: 0.35em")
						span= title
				else
					a.list-group-item.list-group-item-success.stage-link(href=saveStage)
						.glyphicon.glyphicon-ok(style="margin-right: 0.35em")
						span(title="Finished stage")= title
			
			//- Stage
			.panel.panel-default
				.panel-heading: h2
					span.glyphicon.glyphicon-list(style="margin-right: 0.25em")
					span= __("progress")
				.panel-body
					.list-group
						each stage, index in __("stageList")
							if (index !== "declined" && index !== "canceled")
								+stage(stage, index)
					
					.list-group
						+stage(__("stageList.canceled"), "canceled")
					
					.list-group
						+stage(__("stageList.declined"), "declined")
			
			//- Country
			if country
				#country.panel.panel-default
					.panel-heading: h2
						span.glyphicon.glyphicon-globe(style="margin-right: 0.25em")
						span= country.name
					.panel-body
						.text-center
							img(src="http://flags.fmcdn.net/data/flags/small/" + country.alpha2.toLowerCase() + ".png")
						
						h4 Visa
						if country.visaEasy
							.alert.alert-info= __("lowRiskCountry")
						else
							.alert.alert-danger= __("highRiskCountry")
						
						h4 Currencies
						ul.list-group
							each currency in country.currencies
								li.list-group-item= currency
						
						h4 Languages
						ul.list-group
							each language in country.languages
								li.list-group-item= language
			
			//- Money
			.panel.panel-default
				.panel-heading: h2
					span.glyphicon.glyphicon-yen(style="margin-right: 0.25em")
					span= __("finances")
				
				.panel-body
					ul.list-group
						each key in Object.keys(student.financialSupportPerMonth)
							li.list-group-item
								- var cssClass = "";
								if key != "total"
									span= __(`financialSupportPerMonth.${key}`)
									- cssClass = "label-default"
								else
									span &nbsp;
									
									if parseInt(student.financialSupportPerMonth.total) < 80000
										- cssClass = "label-danger"
									else
										- cssClass = "label-primary"
								
								span(class="label " + cssClass, style="float: right")= student.financialSupportPerMonth[key] + " ¥"
			
			//- Family
			.panel.panel-default
				.panel-heading: h2
					span.glyphicon.glyphicon-home(style="margin-right: 0.25em")
					span Family
				.panel-body
					if student.familyMembers.length === 0
						div.alert.alert-danger= __("error.noFamilyMembers")
					else
						ul.list-group
							each member in student.familyMembers
								li.list-group-item
									span= member.name
									span.label.label-info(style="float: right")= member.relation
									
									.small(style="margin-top: 1em")
										div= "Age: " + member.age
										div= "Country: " + member.country
										div= "Nationality: " + member.nationality
										div= "Occupation: " + member.occupation
			
			//- Financial supporters
			.panel.panel-default
				.panel-heading: h2
					span.glyphicon.glyphicon-credit-card(style="margin-right: 0.25em")
					span= __("financialSupportersTitle")
				.panel-body
					if student.financialSupporters.length === 0
						div.alert.alert-danger= __("error.noFinancialSupporters")
					else
						ul.list-group
							each member in student.financialSupporters
								li.list-group-item
									span= member.name
									span.label.label-info(style="float: right")= member.relation
									
									.small(style="margin-top: 1em")
										div= "Telephone: " + member.telephone
										div= "Company: " + member.company
										div= "Company tel.: " + member.companyTelephone
										div= "Occupation: " + member.occupation
										div= "Annual income: " + member.annualIncome + " ¥"
			
			//- Japanese education
			.panel.panel-default
				.panel-heading: h2
					span.glyphicon.glyphicon-blackboard(style="margin-right: 0.25em")
					span= __("japaneseEducationTitle")
				.panel-body
					ul.list-group
						if student.jlptLevel
							h2(style="text-align: center")= student.jlptLevel
						else if student.japaneseEducation.length === 0
							div.alert.alert-info= __("error.noJapaneseEducationOrJLPT")
						
						each education in student.japaneseEducation
							li.list-group-item= education.institution + " (" + education.totalHours + ")"