if !user
	p Not logged in!
else if user.accessLevel !== "admin" && user.accessLevel !== "staff"
	p You are not authorized to view this page!
	p Please contact your system administrator.
else if !student
	p That student doesn't exist in the database.
else
	.page-header
		h1= student.givenName + " " + student.familyName

	- var keys = Object.keys(student)

	table.table.table-hover.table-condensed
		thead
			tr
				th Field
				th Value
		
		mixin display(key, cssClass)
			tr(class=cssClass)
				td= humanized[key]
				if typeof renderKey[key] !== "undefined"
					td!= renderKey[key]
				else
					td= student[key]
		
		each key in prioritizedKeys
			+display(key, "info")
		
		each key in keys
			if prioritizedKeys.indexOf(key) === -1
				+display(key)