mixin display(key, cssClass)
	tr(class=cssClass)
		td= humanized[key]
		if typeof renderKey[key] !== "undefined"
			td!= renderKey[key]
		else
			td= student[key]

if !user
	p= __("error.notLoggedIn")
else if user.accessLevel !== "admin" && user.accessLevel !== "staff"
	p= __("error.notAuthorized")
else if !student
	p= __("error.studentDoesntExist")
else
	.page-header
		h1
			span.glyphicon.glyphicon-user(style="margin-right: 0.25em")
			span= student.displayName
	
	.row
		.col-sm-6
			//- Summary
			.panel.panel-default
				.panel-heading: h1
					span.glyphicon.glyphicon-info-sign(style="margin-right: 0.25em")
					span= __("summary")
				.panel-body
					p!= description
			
			//- Uploads
			.panel.panel-default
				.panel-heading: h1
					span.glyphicon.glyphicon-upload(style="margin-right: 0.25em")
					span= __("uploads")
				//.panel-body!= renderKey["uploads"]
				.panel-body
					if student.uploads.length === 0
						.alert.alert-danger The student did not upload any files yet!
					else
						ul.list-group
							each upload in student.uploads
								li.list-group-item
									a(href="/" + upload.path)= upload.purposeHumanized
									
									if upload.extension
										span.label.label-default(style="float: right")= upload.extension.toLowerCase()
									else if upload.mimetype && upload.mimetype.indexOf('/') !== -1
										span.label.label-default(style="float: right")= mimeTypes.extension(upload.mimetype)
			
			//- Financial supporters
			.panel.panel-default
				.panel-heading: h1
					span.glyphicon.glyphicon-credit-card(style="margin-right: 0.25em")
					span= __("financialSupportersTitle")
				.panel-body
					if student.financialSupporters.length === 0
						div.alert.alert-danger= __("error.noFinancialSupporters")
					else
						ul.list-group
							each member in student.financialSupporters
								li.list-group-item= member.name
		
		//- Country
		.col-sm-6
			if country
				.panel.panel-default
					.panel-heading: h1
						span.glyphicon.glyphicon-globe(style="margin-right: 0.25em")
						span= country.name
					.panel-body
						.text-center
							img(src="http://flags.fmcdn.net/data/flags/small/" + country.alpha2.toLowerCase() + ".png")
						
						h4 Visa
						if country.visaEasy
							.alert.alert-info= __("lowRiskCountry")
						else
							.alert.alert-danger= __("highRiskCountry")
						
						h4 Currencies
						ul.list-group
							each currency in country.currencies
								li.list-group-item= currency
						
						h4 Languages
						ul.list-group
							each language in country.languages
								li.list-group-item= language
			//- Family		
			.panel.panel-default
				.panel-heading: h1
					span.glyphicon.glyphicon-home(style="margin-right: 0.25em")
					span Family
				.panel-body
					if student.familyMembers.length === 0
						div.alert.alert-danger= __("error.noFamilyMembers")
					else
						ul.list-group
							each member in student.familyMembers
								li.list-group-item
									span= member.name
									span.label.label-info= member.relation
							
			//- Japanese education
			.panel.panel-default
				.panel-heading: h1
					span.glyphicon.glyphicon-blackboard(style="margin-right: 0.25em")
					span= __("japaneseEducationTitle")
				.panel-body
					ul.list-group
						h4= "JLPT level: " + student.jlptLevel 
						each education in student.japaneseEducation
							li.list-group-item= education.institution + " (" + education.totalHours + ")"
							
			.panel.panel-default
				.panel-heading: h1
					span.glyphicon.glyphicon-pencil(style="margin-right: 0.25em")
					span= __("motivation")
				.panel-body
					if !student.reasonForStudying
						div.alert.alert-danger= __("error.noReasonForStudying")
					else
						p= '"' + student.reasonForStudying + '"'
	
	.page-header
		h1 Details
		
	button.btn(onclick="$('#details').toggle();") View details
	p &nbsp;
		
	table.table.table-hover.table-condensed(style="display: none;")#details
		thead
			tr
				th Field
				th Value
		
		- var keys = Object.keys(student)
		each key in keys
			+display(key)